@import "./variables.css";
@import "./partials/hero.css";
@import "./partials/note.css";
@import "./partials/content.css";

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--yellow);
  background-image: var(--bg-svg);
}

*, *::before, *::after {
  box-sizing: inherit;
}

.wrapper {
  display: none;
  background: rgba(0, 0, 0, .15);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrapper.display {
  display: block;
}

a {
  color: var(--blue);
}

.footer {
  text-align: center;
  font-size: 1.2rem;
}
