.content {
  /* background: white; */
  margin: 13rem auto;
  width: 120rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  /* position: relative; */
}

.content .day {
  background: #d9eaf3;
  /* width: 275px; */
}

.content .day [class|=day] {
  height: 20rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .2);
  transition: all ease-in-out .2s;
  position: relative;
}

.content .day [class|=day]:hover {
  transform: scale(1.2);
  box-shadow: 0 0 40px 40px rgba(0, 0, 0, 0);
}

.content .day [class|=day] img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .day [class|=day] span {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  font-size: 1.2rem;
  padding: .3rem 1rem;
}

.content .cp_embed_wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -58rem;
  margin-top: -25rem;
  z-index: 999;
}

.content .cp_embed_wrapper iframe {
  width: 116rem !important;
  height: 0;
  transition: all .2s ease;
}

.content .cp_embed_wrapper.display iframe {
  height: 50rem !important;
}

@media (max-width: 1200px) {
  .content {
    width: 90%;
    grid-template-columns: 1fr 1fr;
  }

  .content .day .cp_embed_wrapper iframe {
    width: 100% !important;
  }
}

@media (max-width: 800px) {
  .content {
    margin: 10rem auto;
  }
}

@media (max-width: 600px) {
  .content {
    margin: 5rem auto;
    grid-template-columns: 1fr;
  }
}
