.note {
  width: 100rem;
  height: 22rem;
  padding: 2rem;
  padding-left: 6rem;
  background: white;
  margin: 0 auto;
  margin-top: -10rem;
  background-image: linear-gradient(90deg, #b6d7e8, 2px, transparent, 2px, transparent), linear-gradient(0, #d9eaf3, 1px, transparent, 2px, transparent);
  background-position: 4rem 0, 0 5px;
  background-size: 100% 3rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
  transform: rotate(-2deg);
}

.note p {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 1200px) {
  .note {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .note {
    height: 32rem;
  }

  .note p {
    font-size: 1.6rem;
  }
}

@media (max-width: 400px) {
  .note {
    height: 40rem;
  }
}
